
    <title><%=title%></title>
    <%- include("./template/header.ejs") %>
    <main id="principal"> 

        <div class="container">
            <div class="container--text">

                <h1 class="title">Bienvenido al Panel de Administración de Productos
                    </h1> <br>
                    <p class="text">Aquí tienes el control total sobre tus productos. Puedes agregar nuevos productos, editar la información existente y eliminar productos cuando sea necesario.</p>
            </div>
        </div>
    </main>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>